.color-selector h3 {
    margin-bottom: 1.1em;
}

.color-selector button{
    width: 35px;
    height: 35px;
    padding: 2px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
}

.color-selector button.active, .color-selector button:hover {
    border: 1px solid var(--secondary);
}

.color-selector button:not(:first-child) {
    margin-left: 0.1em;
}