.overlay-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    padding: 15px;
    z-index: 999;
    cursor: pointer;
}

.overlay-actions button {
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}