.price-display{
    margin: 1.5em 0;
    color: var(--highlight);
    font-size: 1.2em;
}

.price-display span{
    padding-left: 0.15em;
    font-size: 2.9em;
}

@media (max-width: 431px){
    .price-display{
        position: absolute;
        right: 18px;
        top: 5px;
        margin: 0;
    }
}