.product-card {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    margin: auto;
    padding: 2.5em 0;
    max-width: 600px;
    background-color: white;
    border-radius: 5px;
}

@media (max-width: 431px) {
    .product-card {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        height: min-content;
        padding: 0;
    }
}