.product-gallery {
    position: relative;
}

.photo-container{
    background: radial-gradient(#e5f89e, #96e001);
    position: absolute;
    left: -2.5em;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 431px){
    .product-gallery {
        aspect-ratio: 1/1;
    }
    .photo-container{
        display: grid;
        left: 0;
        bottom: 0;
            border-radius: 6px 6px 0 0;
        box-shadow: none;
    }
}