.thumbnail-list {
    padding: 0.7em 1em;
    border-radius: 0 0 6px 6px;
    background-color: #fff;
    width: 100%;
    margin-top: auto;
    height: fit-content;
}

.thumbnail-list ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.thumbnail-list ul button{
    padding: 0;
    margin: 0;
    flex: 1;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
}

.thumbnail-list ul li {
    width: 55px;
    height: 55px;
    padding: 7px;
    cursor: pointer;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
}

@media (max-width: 431px) {
    .thumbnail-list{
        border-radius: 0 ;
        padding-left: 0;
        padding-right: 0;
    }
    .thumbnail-list ul{
        margin: 0;
    }
    .thumbnail-list ul li {
        width: 70px;
        height: 70px;
    }
}