
:root {
    --primary: #4c4c4c;
    --secondary: #a6a6a6;
    --highlight: #ff3f40;
}


* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

#root{flex: 1}


html,
body {
    height: 100dvh;
}

body {
    overflow-x: hidden;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    background-color: #01e37f;
}

h3 {

    font-size: 0.7em;
    font-weight: normal;
    margin: 0;
    letter-spacing: 1.2px;
    color: var(--secondary);
}

img {
    max-width: 100%;
    filter: drop-shadow(1px 1px 3px var(--secondary));
}

ol, ul {
    list-style: none;
}

@media (max-width: 431px){
    body{
        height: max-content;
        padding: 90px 0 90px 0;
    }
}
